@font-face {
  font-family: 'Avenir1';
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir1';
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Avenir1', sans-serif;
  font-weight: 300;
  margin-top: 20px;
}

.search-big__wrapper {
  position: relative;
  width: 100%;
}

.search-big {
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  padding-left: 62px;
  padding-top: 2px;
  margin-bottom: 20px;
  line-height: normal;
}

.search-big:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
  background: #fff;
}

.search-big:focus {
  font-weight: 900;
  font-size: 16px;
  color: #3d4e61;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e1e7ed;
  outline: none;
}

.search-big::placeholder {
  font-family: 'Avenir1', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #3d4e61;
}

.search-big__icon {
  position: absolute;
  top: 25px;
  left: 26px;
  background-image: url(./images/Search.svg);
  background-repeat: no-repeat;
  width: 19px;
  height: 19px;
}

.search-small__wrapper {
  position: relative;
  width: 100%;
}

.search-small {
  width: 100%;
  box-sizing: border-box;
  height: 42px;
  padding-left: 33px;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
}

.search-small:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
  background: #fff;
}

.search-small:focus {
  box-shadow: none;
  font-weight: 900;
  font-size: 14px;
  color: #3d4e61;
  outline: none;
}

.search-small::placeholder {
  font-family: 'Avenir1', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #3d4e61;
}

.search-small__icon {
  position: absolute;
  top: 15px;
  left: 13px;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./images/Search.svg);
}
